/*created by omega7379 to remove all of this from the inline css within the html file*/

/*making it mobile friendly*/
@media screen and (max-width: 800px) {
    #main-body{
        background-color: black;
        color: palegreen;
        width: 100%;
        margin: 0 auto;
        font-family: monospace;
        font-size: 16px;
        padding: 1%;
    }

    #title {
        margin: 0 auto;
        text-align: center;
    }
    .break{
        word-break: break-all;
    }
    
    .content {
        margin: 0 auto;
    }

    #content-container {
        margin: 0 auto;
        background-color: #fffff027;
        padding: 14px 16px;
    }

    #canvas-container {
        display: block;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        right: 0%;
        bottom: 0%;
    }

    #top-nav {
        background-color: #373d0349;
    }
    
    #top-nav ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }

    #top-nav ul li {
        list-style: none;
        float: left;
        text-align: center;
        width: 98%;
        background-color: rgba(152, 251, 152, 0.2);
    }
    
    #top-nav ul li a {
        display: block;
        color: #CFC312;
        padding: 14px 16px;
        margin: 5px;
        text-decoration: none;
        border-left: 3px solid floralwhite;
        border-right: 3px solid floralwhite;
    }
    
    #top-nav ul li a:hover {
        color: #CFC312;
        background-color: rgba(152, 251, 152, 0.4);
    }

    a {
        color: #CFC312;
    }
    
    a:hover {
        color: #CFC312;
    }

    img{
        padding-bottom: 0.125cm;
        margin-bottom: 0.125cm;
        width: 100%;
    }
}

/*pc browser/default*/
@media screen and (min-width: 801px){
    #main-body {
        background-color: black;
        color: palegreen;
        width: 50%;
        margin: 0 auto;
        font-family: monospace;
        font-size: 16px;
        padding: 1%;
    }
    
    #content-container {
        margin: 0 auto;
        background-color: #fffff027;
        padding: 14px 16px;
    }
    
    #canvas-container {
        display: block;
        position: fixed;
        z-index: -1;
        width: 100%;
        height: 100%;
        margin: 0 auto;
        right: 0%;
        bottom: 0%;
    }
    
    #title {
        margin: 0 auto;
        text-align: center;
    }
    
    .content {
        margin: 0 auto;
    }
    
    #top-nav {
        background-color: #373d0349;
    }
    
    #top-nav ul {
        overflow: hidden;
        margin: 0;
        padding: 0;
    }
    
    #top-nav ul li {
        list-style: none;
        float: left;
        text-align: center;
        width: 25%;
        background-color: rgba(152, 251, 152, 0.2);
    }
    
    #top-nav ul li a {
        display: block;
        color: #CFC312;
        padding: 14px 16px;
        margin: 5px;
        text-decoration: none;
        border-left: 3px solid floralwhite;
        border-right: 3px solid floralwhite;
    }
    
    #top-nav ul li a:hover {
        color: #CFC312;
        background-color: rgba(152, 251, 152, 0.4);
    }
    
    a {
        color: #CFC312;
    }
    
    a:hover {
        color: #CFC312;
    }
    
    img{
        padding-bottom: 0.25cm;
        margin-bottom: 0.25cm;
        width: 100%;
    }
}